{% extends 'base.html' %}



{% block title %}
Home Page

{% endblock %}



{% block content %}
<h3>Introducing our Inventory Management Web Application</h3>

<p>
    Discover an Intelligent way of managing your Business Enterprise.
</p>

<p>
    As a small business owner, you have a lot of things to juggle. 
    Profitability and cash flow are always at the forefront of your mind. 
    Plus you need to handle the day-to-day operations of your business. 
    You need to make it hum while you send quotations, take orders and then ship them out. 
    You run a lean business model with minimal overheads and using web-based inventory management software plays a big part in this.




</p>
{% endblock %}

{% block footer %}
<p>
    <h4>Contact our Sales Team for more information
    <p> Email: sales@tookinc.com 
        Cell: +254 445 445 445</p>
    </h4>
</p>

{% endblock %}