{% extends 'base.html ' %}


{% block title %}
Inventories
{% endblock %}

{% block content %}

<div class="container">


<!-- Button trigger modal -->
<button type="button" style="margin-top: 30px ;" class="btn btn-primary" data-toggle="modal" data-target="#addInventories">
  Add New Inventory
</button>

<!-- Modal -->
<div class="modal fade" id="addInventories" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Inventory Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="{{url_for('inventories')}}" method="POST">
          
            <div class="form-group">
              <label for="Name">Name</label>
              <input name="name" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>

            <div class="form-group">
                <label for="Type">Type</label>
                <select name="type" class="form-control" id="exampleFormControlSelect1">
                  <option></option>
                  <option>Fruits</option>
                  <option>Vegetable</option>
                  
                </select>
              </div>

              <div class="form-group">
                <label for="bp">Buying Price</label>
                <input name="buying_price" type="float" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="sp">Selling Price</label>
                <input name="selling_price" type="float" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
                <button type="submit" class="btn btn-primary">Save</button>
              </div>




        </form>






      </div>
      
    </div>
  </div>
</div>

</div>


<table class="table" style="margin-top: 30px;" id="invTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">NAME</th>
        <th scope="col">TYPE</th>
        <th scope="col">BUYING PRICE</th>
        <th scope="col">SELLING PRICE</th>
        <th scope="col">STOCK</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStock">
    Add Stock
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="addStock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a New Stock Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('add_stock')}}" method="POST">
                <div class="form-group">
                  <label for="addStock">Stock</label>
                  <input name="stock" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Add stock for this inventory</small>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
               

        </div>
        
      </div>
    </div>
  </div>


            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#makeSale">
    Make Sale
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="makeSale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Make Sale</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form action="{{url_for('make_sale')}}" method="POST">
                <div class="form-group">
                  <label for="makeSale">Quantity</label>
                  <input name="quantity" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Make sale for this inventory</small>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>



            </form>

        </div>
        
      </div>
    </div>
  </div>


            <button type="button" class="btn btn-warning">View Sale</button>


            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editInventory">
  Edit Inventory
</button>

<!-- Modal -->
<div class="modal fade" id="editInventory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Inventory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="{{url_for('edit_inv')}}" method="POST">
            <div class="form-group">
              <label for="Name">Name</label>
              <input name="name" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>

            <div class="form-group">
                <label for="Type">Type</label>
                <select name="type" class="form-control" id="exampleFormControlSelect1">
                  <option></option>
                  <option>Product</option>
                  <option>Service</option>
                  
                </select>
              </div>

              <div class="form-group">
                <label for="bp">Buying Price</label>
                <input name="buying_price" type="float" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="sp">Selling Price</label>
                <input name="selling_price" type="float" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>

        </form>


        
      </div>
      
    </div>
  </div>
</div>



            <button type="button" class="btn btn-danger">Delete Inventory</button>


        </td>
      </tr>
      
    </tbody>
  </table>


{% endblock %}




